.login-container {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    width: 100%;
    height: 100vh;
}

.login-container img{
    height: 100vh;
}

.login-sidebar-container {
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-between;
    padding: 10vh 3vw 0px 3vw;
}

.login-forms {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.login-forms>div{
    display: flex;
    flex-direction: column;
}

.login-forms>span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-forms>p{
    margin: 0;
    display: flex;
    justify-content: center;
}

.login-remember-me-container{
    display: flex;
    align-items: center;
    gap: 0.3vw;
}

.login-remember-me-container>label{
    color: gray;
}

.login-password-container>div {
    position: relative;
    display: flex;
    flex-direction: row !important;
}

.login-password-container input {
    width: 100%;
}